html{
 font-size:16px;
 font-size: 16px;
}

body {
font-family:'Oswald', sans-serif;
font-size:1rem;
line-height:1.6;
background-color:#e9afa3;
color:#003559;
margin:2rem;
margin-left:2rem;
padding:0px;
}

h1{
font-size:2.5rem;
font-weight:700;
text-transform:uppercase;
letter-spacing:.1rem;
color:#6a0136;
margin-bottom:.5rem;
margin-top:0rem;
}

h2 {
 font-size:1.5rem;
 font-weight:600;
 text-transform:uppercase;
 letter-spacing:0.08rem;
 color:#006daa;
 margin-top:2rem;
 text-decoration:underline;
 text-decoration: underline;
}

h3{
font-size:1.2rem;
font-weight:500;
margin-top:1rem;
margin-bottom:0.5rem;
}

h4 {
font-size:1.1rem;
font-weight:400;
font-style:italic;
margin-top:1rem;
color:#003559;
color:inherit;
}

p{
font-size:1rem;
font-weight:300;
text-align:left;
margin-bottom:1rem;
}

address{
font-size:0.9rem;
font-weight:300;
letter-spacing:.05rem;
font-style:normal;
margin-top:0.5rem;
margin-bottom:0;
}

ul{
font-size:0.95rem;
font-weight:300;
padding-left:20px;
list-style:disc;
list-style-type:disc;
}

li{
margin-bottom:0.5rem;
line-height:1.6;
}

a{
font-size:1rem;
font-weight:400;
color:#6a0136;
text-decoration:none;
cursor:pointer;
}

a:hover{
text-decoration:underline;
color:#6a0136;
}



